.container {
  width: 50vw;
  height: 500px;
  margin: 100px auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.box {
  margin-top: 15vh;
  width: 20vw;
  height: 300px;
  border: 1px solid black;
  border: 5px solid grey;
  box-sizing: border-box;
}

.productHeader {
  width: fit-content;
  margin: 2px auto;
}

.box1 {
  width: 25vw;
}

.products {
  background-color: gray;
  width: 23.7vw;
  height: 40px;
  display: flex;
  gap: 70px;
  padding: 5px;
  color: white;
}

.cartAdded {
  background-color: gray;
  width: 18.6vw;
  height: 30px;
  display: flex;
  gap: 40px;
  padding: 5px;
  color: white;
}

.total {
  justify-content: flex-end;
}

p {
  display: inline;
}

.btnBox {
  display: inline-block;
  margin-top: 10px;
  width: 80px;
  height: 25px;
  background-color: aquamarine;
  color: black;
}